@model UrbanSystem.Web.ViewModels.Locations.LocationDetailsViewModel

<h2>@Model.CityName - Urban System</h2>

<p><strong>City:</strong> @Model.CityName</p>

<h3>Suggestions for this city:</h3>

@if (Model.Suggestions.Any())
{
	<ul class="list-group">
		@foreach (var suggestion in Model.Suggestions)
		{
			<li class="list-group-item">
				<strong>@suggestion.Title</strong> <br />
				<a asp-controller="Suggestion" asp-action="Details" asp-route-id="@suggestion.Id" class="btn btn-primary btn-sm mt-2">View Details</a>
			</li>
		}
	</ul>
}
else
{
	<p>No suggestions for this location just yet!</p>
}